.pdf-modal {
    width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pdf-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.pdf-modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    max-width: 100%;
    max-height: 90vh;
    overflow: auto;
}

.pdf-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.pdf-modal-header h2 {
    margin: 0;
}

.pdf-modal-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
    font-family: "Inder", "Signika";
    /* A4 Size
    width: 210mm;
    height: 297mm; */

    /* F4 Size */
    width: 297mm;
    height: 330mm;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(45 24 25 / var(--tw-bg-opacity));
}

section.container-a4 {
    padding: 4.2rem;
    padding-top: 0.7rem;
    margin-left: auto;
    margin-right: auto;
}
.header {
    width: 100%;
}

.header img {
    width: 6rem;
    height: 6rem;
}

.signature-container {
    float: right;
    width: 40%;
    margin-top: 1rem;
    margin-right: 0.5rem;
    text-align: left;
}

.signature-container strong {
    font-weight: 400; /* Menetapkan ketebalan font untuk tag <strong> di dalam signature-container */
}

.signature-container img {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
}
.content-container {
    float: left;
    width: 55%;
}

.title {
    font-size: 1.25rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    /* color: rgb(2 132 199 / var(--tw-text-opacity)) #0284c7; */
    color: rgb(2 132 199);
    opacity: 1;
    text-transform: uppercase;
}

div.sub-title {
    margin-top: 0.1rem;
    width: 100%;
    margin-bottom: 0.75rem;
}

div.sub-title > h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 450;
}

div.sub-title > h2 > span {
    display: block;
}

div.sub-title > h2 > span > span {
    text-transform: none;
}

/* Prevent thead display on all pages */
thead {
    display: table-row-group;
}

/* Table PAK Page 1 */
table.table-pak-1 {
    /* table-layout: auto; */
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px;
    border-color: rgb(51 65 85);
}

table.table-pak {
    /* table-layout: auto; */
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px;
    border-color: rgb(51 65 85);
    font-size: 1rem;
    line-height: 1rem;
}

table.table-pak > thead > tr > th {
    border: 1px solid #334454;
}
table.table-pak > tbody > tr > th {
    border: 1px solid #334454;
}

table.table-pak > tbody > tr > td {
    border: 1px solid #334454;
}

table.table-pak > tfoot > tr {
    border: 1px solid #334454;
}
table.table-pak > tfoot > tr > th {
    border: 1px solid #334454;
    padding: 0.25rem;
    font-weight: 400;
    vertical-align: middle;
}

.border-pak1 {
    border: 1px solid #334454;
    border-left-color: transparent;
    border-right-color: transparent;
}
.border-x-transparent {
    border: 1px solid #334454;
    border-left-color: transparent;
    border-right-color: transparent;
}
