@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, label {
    font-family: 'Roboto', Signika;
    @apply font-roboto text-slate-700;
  }

/* Ensure the spinner controls are always visible */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    opacity: 1 !important;
    display: block !important;
}

input[type="number"] {
    -moz-appearance: textfield; /* Remove default spinner in Firefox */
}

.btn-glass {
    @apply mt-3 text-lg text-orange-800 bg-orange-400 btn glass hover:bg-primary hover:scale-105;
}

.btn-glass2 {
    @apply mt-3 text-lg text-orange-800 btn glass bg-gradient-to-br from-orange-300 via-emerald-400/40 hover:bg-secondary hover:scale-105;
}

.progress-bar {
    transform-origin: 0%;
    @apply fixed top-0 left-0 right-0 h-[10px] bg-gradient-to-br from-primary to-secondary z-[99999];
}

.gradient-base {
    @apply opacity-100 bg-gradient-to-b from-primary/50 via-slate-200 to-secondary/50;
}

.gradient-white-base {
    @apply opacity-100 bg-gradient-to-b from-orange-50 to-white;
}

.gradient-primary {
    @apply bg-gradient-to-r from-primary from-30% via-50% to-10%  via-hijau to-secondary opacity-100;
}

.gradient-sidebar {
    @apply opacity-100 bg-gradient-to-b from-primary/50 to-secondary;
}

.gradient-bps {
    @apply bg-gradient-to-br from-primary from-30% via-50% to-10%  via-hijau to-secondary opacity-100;
}

.text-gradient {
    @apply text-transparent bg-clip-text;
}

.button-glass {
    @apply items-center text-lg font-semibold text-white transition duration-150 ease-in-out scale-75 bg-red-400 border border-transparent rounded-md btn glass hover:bg-primary focus:bg-orange-600 active:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

.border-card {
    @apply border border-t-secondary border-l-secondary border-r-primary/45 border-b-primary/45 focus:border-none focus:border-primary focus:ring-yellow-600;
}

.border-gradient {
    @apply  bg-slate-100/85 border-t-primary/50 border-l-primary/50 border-r-secondary/50 border-b-hijau/50 focus:outline-none focus:border-primary/50 focus:ring-1 focus:ring-opacity-60 focus:ring-primary/50;
}

.large-primary-button {
    @apply w-full py-2 mx-auto mb-4 transition duration-150 ease-in-out rounded-lg glass bg-primary text-secondary hover:bg-primary focus:bg-orange-600 active:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}
.main-container {
    background-color: rgb(46 56 77 / 30%);
    z-index: 0;
}
.modal-container {
    width: 670px;
    height: 400px;
    gap: 20px;
    pointer-events: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid var(--gh-grey-4);
    border-radius: 4px;
    outline: 0;
    padding: 8px 24px;
    margin: 0 auto;
}

.modal-button-cancel {
    background-color: var(--gh-blue-1);
    color: var(--gh-blue-9);
    margin-left: 20px;
}

.button-correct {
    @apply inline-flex items-center h-5 px-4 py-2 text-lg font-semibold text-white transition duration-150 ease-in-out border border-transparent rounded-md bg-emerald-500/90 btn glass hover:bg-primary focus:bg-emerald-600 active:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2;
}

.button-incorrect {
    @apply bg-red-500/90 inline-flex scale-[0.78] btn glass items-center px-4 py-2 h-5  border border-transparent rounded-md font-semibold text-lg  text-white hover:bg-primary focus:bg-red-600 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
}

.action-btn {
    @apply inline-flex items-center justify-center p-1 px-2 mx-auto border rounded-lg shadow-md;
}

table.table-bordered {
    /* table-layout: auto; */
    width: 100%;
    border-collapse: collapse;
    line-height: 1rem;
    overflow: hidden;
    @apply border-slate-600;
}

.no-arrow {
    -webkit-appearance: none; /* Untuk Chrome, Safari, Opera */
    -moz-appearance: none; /* Untuk Firefox */
    appearance: none; /* Untuk IE, Edge */
}


table.table-bordered > thead > tr > th {
    @apply border border-white;
}
table.table-bordered > thead > tr > th {
    @apply border border-secondary/15;
}

table.table-bordered > tbody > tr > td {
    @apply border border-secondary/15;
}
table.table-bordered > tbody > tr > th {
    @apply border border-secondary/15;
}

.box-footer {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-width: 1px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.label-warning {
    @apply p-1 mx-3 text-xs font-semibold text-center uppercase rounded-md bg-rose-500/90;
}

.label-secondary {
    @apply p-1 mx-3 text-xs font-semibold text-center uppercase rounded-md bg-secondary/90;
}

.label-success {
    @apply p-1 mx-3 text-xs font-semibold text-center uppercase rounded-md bg-success;
}

.label-base {
    @apply p-1 mx-3 text-xs font-semibold text-center uppercase rounded-md;
}

.user-profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    font-weight: 700;

    @apply bg-gradient-to-br from-sky-800 to-slate-950;
}

